<v-row class="d-flex justify-center align-center gont-text-center-st">
  <v-col cols="12" sm="8" lg="6">
    <v-row class="d-flex justify-center">
      <v-col cols="12" class="text-h1 text-center font-weight-black">
        Ipsum
      </v-col>
      <v-col cols="12" class="d-block text-center text-h4">
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas
      </v-col>
      <v-col cols="12" class="d-flex justify-center">
        <v-btn rounded class="text-decoration-none mx-3">Button A</v-btn>
        <v-btn rounded class="text-decoration-none">Button B</v-btn>
      </v-col>
    </v-row>
  </v-col>
</v-row>
