.card-item {
  margin: 0 20px 0 0;
  width: 320px;
  height: 240px;
  background-size: cover;
  // background-image: url('@/assets/games/zenkare.jpg');
}
.card-text {
  color: white;
  text-align: center;
}
