.event-img {
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 60px;
  width: 20vmax;
}

.event-item {
  display: flex;
  align-items: center;
}