.Back {
  position: relative;
}

.Message {
  height: 50%;
  width: 70%;

  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;

  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  margin: auto;
}

.MessageReverse {
  height: 50%;
  width: 70%;

  animation: fadeIn2 1s ease 0s 1 normal;
  -webkit-animation: fadeIn2 1s ease 0s 1 normal;

  position: absolute;
  top: 22%;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes fadeIn {
  /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
  0% {
    opacity: 0;
  } /* 始め */
  100% {
    opacity: 1;
  } /* 終わり */
}

@keyframes fadeIn2 {
  /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
  0% {
    opacity: 0;
  } /* 始め */
  100% {
    opacity: 1;
  } /* 終わり */
}

.row {
  height: 10%;
  width: 100%;

  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
}

.btn {
  height: 60%;
  width: 60%;
  margin: 2%;
}

.txt {
  font-size: 1.5vw;
  padding: 20px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Zen Old Mincho', serif;
}

.who {
  text-align: center;
  font-size: 2vw;
  word-wrap: break-word;
  font-family: 'Zen Old Mincho', serif;
}

.txt2 {
  font-size: 2.3vw;
  padding: 10px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Zen Old Mincho', serif;
}

.who2 {
  text-align: center;
  font-size: 3vw;
  word-wrap: break-word;
  font-family: 'Zen Old Mincho', serif;
}

.txtset {
  height: 50%;
  width: 80%;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
}

.txtset2 {
  height: 80%;
  width: 90%;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
}
