.gont-text {
  letter-spacing: -0.5em;
}

.gont-text-blue {
  color: #4285f4;
  display: inline-block;
}

.gont-text-red {
  color: #ea4335;
  display: inline-block;
}

.gont-text-yellow {
  color: #fbbc04;
  display: inline-block;
}

.gont-text-green {
  color: #34a853;
  display: inline-block;
}
