<v-footer color="primary lighten-1 py-2" padless>
  <v-row no-gutters justify="center">
    <template v-for="link in links">
      <a
        :href="link.link"
        target="_blank"
        :key="link.icon"
        class="text-decoration-none"
      >
        <v-btn color="white" rounded icon class="mx-1">
          <v-icon size="2em">{{ link.icon }}</v-icon>
        </v-btn>
      </a>
    </template>

    <v-col class="primary lighten-1 text-center white--text" cols="12">
      © {{copyright.year}} {{copyright.owner}}
    </v-col>
  </v-row>
</v-footer>
